<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ABCD_Bank</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>DatabaseConnect</servlet-name>
		<servlet-class>ABCD_Bank.DatabaseConnect</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DatabaseConnect</servlet-name>
		<url-pattern>/ABCD_BankDatabaseConnect</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>ABCD_Bank.SignUpServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/ABCD_Bank.SignUpServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewAccountServlet</servlet-name>
		<servlet-class>ABCD_Bank.NewAccountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NewAccountServlet</servlet-name>
		<url-pattern>/ABCD_Bank.NewAccountServlet</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>TransferServlet</servlet-name>
		<servlet-class>ABCD_Bank.TransferServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferServlet</servlet-name>
		<url-pattern>/ABCD_Bank.TransferServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DepositServlet</servlet-name>
		<servlet-class>ABCD_Bank.DepositServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DepositServlet</servlet-name>
		<url-pattern>/ABCD_Bank.DepositServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CloseAccountServlet</servlet-name>
		<servlet-class>ABCD_Bank.CloseAccountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CloseAccountServlet</servlet-name>
		<url-pattern>/ABCD_Bank.CloseAccountServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>BillPaymentServlet</servlet-name>
		<servlet-class>ABCD_Bank.BillPaymentServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BillPaymentServlet</servlet-name>
		<url-pattern>/ABCD_Bank.BillPaymentServlet</url-pattern>
	</servlet-mapping>






</web-app>